<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Machine Details</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="/echarts.js"></script>
</head>
<body>
<!-- Year selection form -->
<form method="get" th:action="@{/api/machinedetails/{machineId}(machineId=${machineId})}">
    <label for="year">Select Year:</label>
    <select name="year" id="year">
        <option th:each="y : ${years}" th:value="${y}" th:text="${y}" th:selected="${y.equals(selectedYear)}"></option>
    </select>
    <button type="submit">Submit</button>
</form>

<!-- Prepare a container for side-by-side charts -->
<div style="display: flex; flex-direction: row; gap: 20px;">
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <div>
        <button type="button" th:onclick="|location.href='@{/api}'|" >Batch Details</button>
    </div>
    <div>
        <h2 th:if="${machineId != null}" th:text="${machineId}"></h2>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    // Initialize the echarts instance based on the prepared dom
    let myChart = echarts.init(document.getElementById('main'));
    let month = [[${month}]];
    let count = [[${count}]];

    // Specify the configuration items and data for the chart
    let option = {
        title: {
            text: 'Batch Count by Month'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: month
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: 'Batch Count',
                type: 'bar',
                data: count
            }
        ]
    };

    // Display the chart using the configuration items and data just specified.
    myChart.setOption(option);
</script>
</body>
</html>